<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/amir/IdeaProjects/SJava/Spring2024_TAF"><classes><class name="talentLMS.api_tests.CourseTest"><methods><include name="getAllCourses"/><include name="createCourse"/><include name="createCourseWithCat4"/><include name="createUser"/><include name="addUserToCourse"/><include name="addUserToCourseWithCategory4"/></methods></class><class name="talentLMS.api_tests.UserTest"><methods><include name="getUserByEmailTest"/><include name="getUserByIdTest"/><include name="deleteAllUsersTest"/><include name="userDelete"/><include name="createUser"/><include name="createUserTest"/><include name="editUserTest"/></methods></class></classes></test></suite>